.clients-page{

width:100%;

color:white;

}




.page-header{

display:flex;

justify-content:space-between;

align-items:center;

background:#171b34;

padding:25px;

border-radius:20px;

margin-bottom:25px;

box-shadow:
0 10px 30px rgba(0,0,0,.25);

}




.page-header h1{

margin:0;

font-size:32px;

font-weight:700;

}




.page-header p{

margin:5px 0 0;

color:#8e96d6;

}





.add-user-btn{

border:none;

background:linear-gradient(
135deg,
#6b5cff,
#4169ff
);

color:white;

padding:14px 25px;

border-radius:14px;

font-size:15px;

cursor:pointer;

transition:.3s;

}




.add-user-btn:hover{

transform:translateY(-3px);

box-shadow:
0 10px 25px rgba(65,105,255,.4);

}







.users-box{

background:#171b34;

padding:25px;

border-radius:20px;

display:flex;

flex-direction:column;

gap:15px;

min-height:400px;

}





.empty{

height:350px;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

color:#aaa7d5;

}




.empty-icon{

width:80px;

height:80px;

border-radius:50%;

background:#262b6c;

display:flex;

align-items:center;

justify-content:center;

font-size:40px;

margin-bottom:20px;

}




.empty h3{

color:white;

margin:0;

}




.empty p{

color:#8e96d6;

}