.modal-bg{

position:fixed;

inset:0;

background:rgba(0,0,0,.55);

backdrop-filter:blur(8px);

display:flex;

align-items:center;

justify-content:center;

z-index:999;

}





.create-modal{

width:420px;

background:#171b34;

padding:30px;

border-radius:22px;

box-shadow:
0 20px 50px rgba(0,0,0,.4);

color:white;

animation:show .25s ease;

}





@keyframes show{

from{

opacity:0;

transform:translateY(20px);

}

to{

opacity:1;

transform:translateY(0);

}

}





.create-modal h2{

margin-bottom:25px;

font-size:26px;

}





.input-group{

display:flex;

flex-direction:column;

gap:8px;

margin-bottom:18px;

}





.input-group label{

color:#aaa7d5;

font-size:14px;

}





.input-group input,
.input-group select{


background:#262b6c;

border:none;

outline:none;

padding:13px 15px;

border-radius:12px;

color:white;

font-size:15px;

}





.input-group input:focus,
.input-group select:focus{

box-shadow:
0 0 0 2px #4169ff;

}





.input-group select option{

background:#171b34;

color:white;

}







.modal-buttons{

display:flex;

gap:15px;

margin-top:25px;

}





.modal-buttons button{

flex:1;

border:none;

padding:13px;

border-radius:12px;

color:white;

font-size:15px;

cursor:pointer;

transition:.25s;

}





.create{

background:linear-gradient(
135deg,
#6b5cff,
#4169ff
);

}





.cancel{

background:#e74c3c;

}





.modal-buttons button:hover{

transform:translateY(-3px);

}