.inbound-page{

min-height:100vh;

background:#071a3d;

padding:30px;

}



.page-header{

display:flex;

justify-content:space-between;

align-items:center;

}



.page-header h1{

color:white;

}



.page-header p{

color:#8db4ff;

}



.add-btn{

background:#0066ff;

color:white;

border:0;

padding:13px 25px;

border-radius:12px;

font-weight:bold;

}



.table-card{

background:#08265c;

padding:25px;

border-radius:18px;

margin-top:30px;

}




table{

width:100%;

color:white;

}



th{

color:#8db4ff;

padding:15px;

}



td{

padding:15px;

border-top:1px solid #174a99;

}



.online{

color:#22c55e;

}



/* Modal */

.modal-bg{

position:fixed;

inset:0;

background:rgba(0,0,0,.55);

backdrop-filter:blur(8px);

display:flex;

align-items:center;

justify-content:center;

z-index:999;

}



.create-modal{

width:450px;

background:#08265c;

padding:30px;

border-radius:20px;

border:1px solid #1b56ad;

box-shadow:0 20px 60px rgba(0,0,0,.5);

display:flex;

flex-direction:column;

gap:12px;

}



.create-modal h2{

color:white;

margin-bottom:15px;

}



.create-modal label{

color:#dbeafe;

}



.input{

background:#04142f;

border:1px solid #1c5dcc;

padding:13px;

border-radius:10px;

color:white;

}



.modal-buttons{

display:flex;

justify-content:flex-end;

gap:15px;

margin-top:20px;

}



.create{

background:#0066ff;

color:white;

border:0;

padding:12px 25px;

border-radius:10px;

}



.cancel{

background:#334155;

color:white;

border:0;

padding:12px 25px;

border-radius:10px;

}