*{

box-sizing:border-box;

}


body{

margin:0;

font-family:Arial,sans-serif;

background:#071a3d;

color:white;

}



#root{

height:100vh;

}



.panel{

display:flex;

height:100vh;

background:#071a3d;

}



.content{

flex:1;

overflow-y:auto;

padding:30px;

background:#071a3d;

}




::-webkit-scrollbar{

width:8px;

}


::-webkit-scrollbar-thumb{

background:#0066ff;

border-radius:20px;

}


::-webkit-scrollbar-track{

background:#04142f;

}